@import "variables.less";

.selectorOption {
    background-color: @body-bg;
    border:1px solid @body-bg;
    cursor:pointer;
    padding: 2px;
}

.selectedOption {
    background-color: @selected-color;
}

.TextSearch {
    border-bottom: 1px solid #d9d9d9;
    margin: 10px 0;
    padding-bottom: 10px;
}

.Selector {
    border: 1px solid #d9d9d9;
    min-height: 50px;
    padding: 5px;
}

.Selector .OptionList {
    max-height: 200px;
    overflow:auto;
}

.selectorOption {
    height:32px;
    padding:5px 10px;
}

.OptionList .selectorOption:hover {
    border-bottom:1px solid #d9d9d9;
}

.optionText {
    vertical-align:middle;
}