@import "variables.less";

.selectorOption {
    background-color: @body-bg;
    border:1px solid @body-bg;
    cursor:pointer;
    padding: 2px;
}

.selectedOption {
    background-color: @selected-color;
}